<!DOCTYPE html>
<html lang="es">
	<head></head>
	<body>
	<div class="container">
		<div class="row" id="graficos"></div>
	</div>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../vendor/js/graphs.js"></script>
  </body>
</html>